*{
    margin: 0;
    padding: 0;
    
}


.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#logo{
    flex: 5;
    display: flex;
    align-items: center;
    height: 65%;
    padding-left: 3%;
}
#logo img{
    height: 100%;
    width: 100px;
}


body{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-spacing: 20%;
    font-size: large;
}


#logo_pos{
    flex: 4;
    width: 100%;
    height: 100%;
    background-image: url('images/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    text-align: center;
    margin: 20px 0px;
    color: #333333;
}
#text h2{
    flex: 1;
    font-size: 3em;
    font-family: "Bebas Neue", sans-serif;

}


.second_container h2{
    font-size: 3em;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    margin: auto;
    flex: 1;
}
.biblio {
    width: 100%;
    flex: 3;
    gap: 4%;
    display: flex;
    padding: 2%;
    box-sizing: border-box;
}

.paragraphe{
    height: 130vh;
         
    /* grid-template-columns: repeat(2, 1fr);
      grid-gap: 10%; */
      box-sizing: border-box;
      width: 100%;


}
.paragraphe img{
    grid-column: 1;
    width: 100%;
    height: 100%;
}

#text4paragraphes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2em;
}
.paragraphe p{
    grid-column: 2;
    font-size: 1.5em;}

.img_biblio{
    flex: 1;
    height: 100%;
    width: 50px;
    cursor: pointer;
    overflow: hidden;
    color: white;
    position: relative;
    display: flex;
    clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);
    font-family: 'bebas neue', sans-serif;
    
}

.img_biblio p {
    opacity: 0;
    visibility: hidden;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(0, 0, 0, 0.577);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
transition: opacity 0.5s ease, visibility 0.5s; 
font-size: 2em;
}

.img_biblio:hover p {
    /* 3. On affiche l'élément */
    opacity: 1;
    visibility: visible;
    
    /* Pas de délai ici pour que visiblity s'active instantanément au survol */
    transition: opacity 0.5s ease, visibility 0s;
}
.img_biblio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
#text p{
    flex: 1;
}

#icons img{
    width: auto;
    height: 100%;
    cursor: pointer;
}


#partage .icon{
    flex: 1;
}
#icons{
    flex: 1;
    display: flex;
    height: 65%;
    justify-content: space-around;
}


#partage{
    align-self:flex-end;
    flex: 1;
    bottom: 40px;
    flex-wrap: nowrap;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    right: 50px;
}


.icon_partage{
    width: 50px;
    height: 50px;
}


.icon_partage:nth-child(1){
    grid-column: 1;
}
.icon_partage:nth-child(2){
    grid-column: 3;
}
.icon_partage:nth-child(3){
    grid-column: 5;
}
nav{
    z-index: 4;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0px;
    margin: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    height: 12vh;
    gap: 30px;
}
nav ul{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex: 5;

}
li {
        list-style: none;
}
nav li a{
    color: white;
    text-decoration: none;
    font-family : "Bebas Neue", sans-serif;



}

.second_container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: black;
    flex-direction: column;
}

#text{
    height: 80%;
    display: flex;
    flex-direction: column;
}
#text p:first-child{

}


.container{
    backdrop-filter: blur(20px);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-image: url('../images/fond.png');
    background-size: cover;
    background-position: center;
}

#titre img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

#titre h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
    display: flex;
    align-items: center;
    color: black;
    margin: 0;
    width: 40%;
    letter-spacing: 20px;
}

#titre h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    color: black;
    margin-bottom: 20px;
    background-color: blue;
    width: 40%;
}
#titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    text-align: center;
    padding: 20px 0px;
    background-color: #BEE9E8;
    color: #333333;
    position: relative;
    bottom: 0px;
    width: 100%;
    border-radius: 10px;
    
}

h1{
    font-family: 'BEBAS NEUE', sans-serif;
    letter-spacing: 4px;
    font-size: 5em;
    color: white;
    -webkit-text-stroke: 1px black; /* width and color */
}



.intermediaire{
    height: 50vh;
    width: 100%;
    display: flex;
    background-image: url('images/mirantin2.png');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.intermediaire:nth-child(1){
    rotate: 180deg;
}

#formules{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.formule{
    flex: 1;
    margin-bottom: 20px;
    font-size: 2em;
background-color: white;
    display: flex;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.489);
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    flex: 1 1 0%;
    padding: 50px;
    flex-direction: column;
    margin: 30px;
    position: relative;

}

.formule:nth-child(2){
flex: 2 1 0%;
background-color: red;
color: white;
}

.formule:nth-child(2) a{
    background-color: white;
    color: red;
    transition: 1s;

}


.formule:nth-child(2) button:hover{
    background-color:darkred;
    color: white;
    transition: 1s;
}

.formule h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
}

.formule p{
    font-size: 0.8em;
    text-align: center;
}

.formule_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formule_list li{
    margin: 10px;
}

a{
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    
}

.formule_list{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.formule a{
    background-color: red;border-radius: 15px;
    padding: 15px;
    border: none;
    color: white;
    font-size: 0.5em;
    transition: background-color 0.3s ease;
    margin: 20px;
}

.formule a:hover{
    background-color: darkred;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#recommander{
    position: absolute;
    top: -30px;
    font-size: 0.5em;
    z-index: 3;
    background-color: white;
    color: red;
    padding: 20px 80px;
    font-family: 'bebas neue', sans-serif;
    border: 2px solid red;
}
.third_container p{
    font-size: 2em;
    text-align: justify;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    width: 60%;
    text-align: center;
}
.third_container{
    height: 200vh;
    width: 100%;
    display: flex;
background-color: black;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30vh;
    box-sizing: border-box;
}

.third_container img{
    width: 7%;
    height: auto;
}

.icon_partage{
    cursor: pointer;
}

.icon{
        transition: transform 0.3s ease;

}
.icon:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}