*{
    margin: 0;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #B56576;
}


#formulaire{
width: 700px;
background-color: #6D597A;
border-radius: 30px;
box-sizing: border-box;
padding: 50px;
display: flex;
flex-direction: column;
justify-content: space-between;
color: white;font-family: 'bebas neue', sans-serif;
gap: 10px;

/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.629); */

}


#formulaire h1{
    text-align: center;
    color: white;
    letter-spacing: 7px;
    font-family: 'Bebas Neue', sans-serif;
}

#formulaire input{
    
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em;
    background-color:#B56576;
    color: white;
    font-family:'Courier New', Courier, monospace;

}

#formulaire #submit{
    width: 50%;
    height: 40px;
    margin: 20px;
    border-radius: 25px;
    border: none;
    background-color: #EAAC8B;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    align-self: center;
    transition: 0.5s;
}

#formulaire #submit:hover{
    background-color: #FF7F50;
    letter-spacing: 5px;
    transition: 0.5s;
}
#formulaire .label{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 10px;
}



#formulaire .links{
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
    font-size: 0.9em;
}

#formulaire a{
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#formulaire a:hover{
    color: #FF7F50;
    transition: 0.5s;
}

.cote{
    display: flex;
    width: 100%;
    gap:10%;
}

.cote .label{
    flex: 1;
}

.notif{
    margin: 30px;
    text-align: center;
}

